/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */
body {
    text-rendering: optimizeLegibility;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    background-color: #f5f5f5;
}
.main {
    display: flex;
    width: 670px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    /* overflow:hidden; */
}
.green {
    flex-basis: 50%;
    flex-shrink:0;
    background: linear-gradient( #06d7c1, #50cc49);
    color: whitesmoke;
    font-size: 15px;
    font-weight: 500;
    padding: 30px;
    position:relative;
    border-radius: 10px 0 0 10px;
}
.shoe {
    position:absolute;
    right: 10px;
    bottom: 10px;
}
.text {
    font-size: 16px;
    font-weight: 400;
}
.logo {
        margin-bottom:30px;
    }
.slogan {
    margin: 0px;
}
.pricetag {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    position:relative;
    bottom: -220px;
    padding: 0px 0px 0px 0px;
}
.price {
    font-size: 28px;
    font-weight: 500;
}
.white {
    flex-basis:50%;
    flex-shrink: 0;
    padding: 30px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    position: relative;
}
.row {
    color: #06d7c1;
    margin: 30px 0px 30px 0px;
    padding: 0px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.subtitle {
    color: #959595;
}
.size {
    text-transform: uppercase;
}
.shoe_size {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;
    margin-top: 30px; 
}
.highlighted {
    color: #f15f42;
    border: 2px solid #f15f42;
    border-radius: 50% 
}
.buy {
    background-color: #f15f42;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    text-align:center;
    padding: 10px;
    line-height: 2;
    box-shadow: 1px 1px 10px #f5f5f5;
}